<!DOCTYPE html>
<html lang="en">
<style>
body {
   background-image: url('/assets/photo_bg.jpg');
}
</style>

<style>
.floating-box {
    display: inline-block;
    width: 250px;
    height: 15px;
    margin: 10px;
}

label {
  display: inline-block;
  width: 100px;
}

</style>

<head>
	<meta charset="utf-8">
	<title>Naac</title>

	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/animate.css">
	<!-- Custom Stylesheet -->
	<link rel="stylesheet" href="css/style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>
	<div class="container">
		<div class="top">
			<h1 id="title" class="hidden"><span id="logo">Daily <span>UI</span></span></h1>
		</div>
		<div class="login-box animated fadeInUp">
			<div class="box-header">
				<h1>Log In</h1>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="floating-box">

            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true %>
          </div>
        </br>
          <div class="floating-box">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
        </br>
      </br>
          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
	</div>
</body>

<script>
	$(document).ready(function () {
    	$('#logo').addClass('animated fadeInDown');
    	$("input:text:visible:first").focus();
	});
	$('#username').focus(function() {
		$('label[for="username"]').addClass('selected');
	});
	$('#username').blur(function() {
		$('label[for="username"]').removeClass('selected');
	});
	$('#password').focus(function() {
		$('label[for="password"]').addClass('selected');
	});
	$('#password').blur(function() {
		$('label[for="password"]').removeClass('selected');
	});
</script>

</html>
