<%= form_tag calendar_freetime_path(@calendar) do %>
Start Date: <%= date_field_tag "startRange", "default info" %>
  <%= ' | ' %>
End Date:  <%= date_field_tag "endRange", "default info" %>
<br><br>
  <%= submit_tag "Find Free Time!" %>
<% end %>
<br>
<h2> Free Time! </h2>
<div>
  <% if @freetimelist.kind_of?(String) %>
  <%= @freetimelist %>
  <% end %>
  <% if @freetimelist.kind_of?(Array) %>
   <% while @freetimelist.size > 0 %>
    <%= @freetimelist.shift.to_s %>
    <br><br>
   <% end %>
   <% end %>
</div>

<%= link_to "Back", @calendar %>
