<!DOCTYPE html>
<html>

<title>Naac</title>
<body>

<head>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "http://yandex.st/bootstrap/3.0.2/css/bootstrap.min.css", media: "all" %>
  <%= javascript_include_tag "http://yandex.st/bootstrap/3.0.2/js/bootstrap.min.js" %>
  <%= csrf_meta_tags %>

  <ul id="ul2">
  <h1 id="h1b", align="middle"> Naac </h1>
  <li id="li2"><a href="/calendars">Home</a></li>
  <% if user_signed_in? %>
  <li id="li2", style="float:right"><%= link_to "Sign Out", destroy_user_session_path, :method => 'delete' %>
  <li id="li2", style="float:right"><%= link_to current_user.first_name,calendars_path %></li>
    <% end %>
</li>
</ul>
<br>
</head>

	<div class = "container">
	<center>
  <%= yield %>
	</div>
</body>
<% if user_signed_in? %>
<footer>

  <img height="70" width="70" src="/assets/duck.jpg" align="left" />

</footer>
<% end %>
</body>
</html>
