<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>
<%= link_to "Edit", edit_calendar_event_post_path(@calendar,@event,@post)  %>
<%= link_to "Back", calendar_event_path(@calendar,@event) %>
